<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Scrich 2.0 | Sing In</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="@@autopath/favicon.ico">

    <!-- Font -->
    <link href="@@vars.googleFont" rel="stylesheet">

    <!-- CSS Implementing Plugins -->
    <!-- bundlecss:vendor [@@autopath] -->
    <link rel="stylesheet" href="@@autopath/assets/vendor/icon-set/style.css">
    <link rel="stylesheet" href="@@autopath/node_modules/select2/dist/css/select2.min.css">

    <!-- CSS Front Template -->
    <!-- bundlecss:theme [@@autopath] @@vars.version -->
    <link rel="stylesheet" href="@@autopath/assets/css/theme.css">
  </head>

  <body class="d-flex align-items-center min-h-100">
    <!-- ========== HEADER ========== -->
    <header class="position-absolute top-0 left-0 right-0 mt-3 mx-3">
      <div class="d-flex d-lg-none justify-content-between">
        <a href="index.html">
          <img class="w-100" src="@@autopath/assets/svg/logos/logo.svg" alt="Image Description" style="min-width: 7rem; max-width: 7rem;">
        </a>
      </div>
    </header>
    <!-- ========== END HEADER ========== -->

    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main" class="main pt-0">
      <!-- Content -->
      <div class="container-fluid px-3">
        <div class="row">
          <!-- Cover -->
          <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center min-vh-lg-100 position-relative bg-light px-0">
            <!-- Logo & Language -->
            <div class="position-absolute top-0 left-0 right-0 mt-3 mx-3">
              <div class="d-none d-lg-flex justify-content-between">
                <a href="index.html" tabindex="-1">
                  <img class="w-100" src="@@autopath/assets/svg/logos/logo.svg" alt="Image Description" style="min-width: 7rem; max-width: 7rem;">
                </a>
              </div>
            </div>
            <!-- End Logo & Language -->

            <div style="max-width: 23rem;">
              <div class="text-center mb-5">
                <img class="img-fluid" src="@@autopath/assets/svg/illustrations/chat.svg" alt="Image Description" style="width: 12rem;">
              </div>

              <div class="mb-5">
                <h2 class="display-4">Event Social Scrich 2.0 :</h2>
              </div>

              <!-- List Checked -->
              <ul class="list-checked list-checked-lg list-checked-primary list-unstyled-py-4">
                <li class="list-checked-item">
                  <span class="d-block font-weight-bold mb-1">Title</span>
                  description...
                </li>

                <li class="list-checked-item">
                  <span class="d-block font-weight-bold mb-1">Title</span>
                  description...
                </li>

                <li class="list-checked-item">
                  <span class="d-block font-weight-bold mb-1">Title</span>
                  description...
                </li>
              </ul>
              <!-- End List Checked -->
            </div>
          </div>
          <!-- End Cover -->

          <div class="col-lg-6 d-flex justify-content-center align-items-center min-vh-lg-100">
            <div class="w-100 pt-10 pt-lg-7 pb-7" style="max-width: 25rem;">
              <!-- Form -->
              <form id="signForm" class="js-validate" action="" method="post" onsubmit="return signInSubmit(this);">
                <div class="text-center pb-3 mb-5 border-bottom">
                  <h1 class="display-4">Sign in</h1>
                  <p>Scrich 2.0 : Content Management System</p>
                </div>

                <!-- hidden -->
                <input type="hidden" name="ACCESS" value="true">

                <!-- Form Group -->
                <div class="js-form-message form-group">
                  <label class="input-label" for="inputId" tabindex="-1">ID</label>

                  <input type="text" class="form-control form-control-lg" name="inputId" id="inputId" placeholder="아이디를 입력하세요" required data-msg="유효한 아이디를 입력하세요.">
                </div>
                <!-- End Form Group -->

                <!-- Form Group -->
                <div class="js-form-message form-group mb-6">
                  <label class="input-label" for="inputPw">
                    <span class="d-flex justify-content-between align-items-center" tabindex="-1">
                      Password
                    </span>
                  </label>

                  <div class="input-group input-group-merge">
                    <input type="password" class="js-toggle-password form-control form-control-lg" name="password" id="inputPw" placeholder="비밀번호를 입력하세요" aria-label="8+ characters required" required
                           data-msg="비밀번호가 일치하지 않습니다. 다시 시도해주세요."
                           data-hs-toggle-password-options='{
                             "target": "#changePassTarget",
                             "defaultClass": "tio-hidden-outlined",
                             "showClass": "tio-visible-outlined",
                             "classChangeTarget": "#changePassIcon"
                           }'>
                    <div id="changePassTarget" class="input-group-append">
                      <a class="input-group-text" href="javascript:;" tabindex="-1">
                        <i id="changePassIcon" class="tio-visible-outlined"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <!-- End Form Group -->

                <button type="submit" class="btn btn-lg btn-block btn-primary">Sign in</button>
                <div id="errMsg" class="hide text-center my-3">아이디 비밀번호가 일치하지 않습니다.</div>
              </form>
              <!-- End Form -->
            </div>
          </div>
        </div>
        <!-- End Row -->
      </div>
      <!-- End Content -->
    </main>
    <!-- ========== END MAIN CONTENT ========== -->

    <!-- JS Global Compulsory @@deleteLine:build -->
    <script src="@@autopath/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="@@autopath/node_modules/jquery-migrate/dist/jquery-migrate.min.js"></script>
    <script src="@@autopath/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- JS Implementing Plugins -->
    <!-- bundlejs:vendor [@@autopath] -->
    <script src="@@autopath/assets/vendor/hs-toggle-password/dist/js/hs-toggle-password.js"></script>
    <script src="@@autopath/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="@@autopath/node_modules/select2/dist/js/select2.full.min.js"></script>

    <!-- JS Front -->
    <!-- bundlejs:theme [@@autopath] -->
    <script src="@@autopath/assets/js/hs.core.js"></script>
    <script src="@@autopath/assets/js/hs.validation.js"></script>
    <script src="@@autopath/assets/js/hs.select2.js"></script>

    <!-- JS Plugins Init. -->
    <script>
      $(document).on('ready', function () {
        // initialization of Show Password
        $('.js-toggle-password').each(function () {
          new HSTogglePassword(this).init()
        });

        // initialization of form validation
        $('.js-validate').each(function() {
          $.HSCore.components.HSValidation.init($(this));
        });

        // initialization of select2
        $('.js-select2-custom').each(function () {
          var select2 = $.HSCore.components.HSSelect2.init($(this));
        });
      });

      function signInSubmit() {
        let signIn = new SubmitForm($('#signForm')).signInChk();
      }

      class SubmitForm{
        'use strict';

        constructor(formId) {
          this.el = formId;
          this.validChk = this.el.valid('success');
        }

        signInChk(){
          if (this.validChk == false) {
            this.el.valid();
          } else if (this.validChk == true) {
            $.ajax({
              type: this.el.attr('method'),
              url: this.el.attr('action'),
              dataType: 'json',
              async: false,
              data: this.el.serialize(),
              success: function(data) {
                if (data['result'] == 'fail') {
                  $('#errMsg').removeClass('hide').text(data['errMsg']);
                } else if (data['result'] == 'sucess'){
                  location.href = 'PGID_A.html';
                }
              },
              error: function(xhr, status, error) {
                let error_confirm = confirm('데이터 전송 오류 입니다. 확인을 누르시면 페이지가 새로고침 됩니다.');
                if (error_confirm == true) {
                  location.href = 'PGID_A.html';
                }
              }
            });
            return false;
          }
        }
      }
    </script>

    <!-- IE Support -->
    <script>
      if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="@@autopath/assets/vendor/babel-polyfill/polyfill.min.js"><\/script>');
    </script>
  </body>
</html>
