<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>Scrich 2.0 | 메인배너</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="@@autopath/favicon.ico">

  <!-- Font -->
  <link href="@@vars.googleFont" rel="stylesheet">

  <!-- CSS Implementing Plugins -->
  <!-- bundlecss:vendor [@@autopath] -->
  <link rel="stylesheet" href="@@autopath/assets/vendor/icon-set/style.css">
  <link rel="stylesheet" href="@@autopath/node_modules/daterangepicker/daterangepicker.css">
  <link rel="stylesheet" href="@@autopath/node_modules/select2/dist/css/select2.min.css">

  <!-- CSS Front Template -->
  <!-- bundlecss:theme [@@autopath] -->
  <link rel="stylesheet" href="@@autopath/assets/css/theme.css">
</head>

<body class="has-navbar-vertical-aside navbar-vertical-aside-show-xl">
  <!-- ========== HEADER ========== -->
  @@include("@@autopath/inculde/header/header.html")
  <!-- ========== END HEADER ========== -->

  <!-- ========== ASIDE : NAVBAR ========== -->
  @@include("@@autopath/inculde/navbar/navbar.html")
  <!-- ========== END ASIDE : NAVBAR ========== -->

  <!-- ========== CONTENTS ========== -->
  <main id="content" role="main" class="main">
    <!-- Content -->
    <div class="content @@layoutBuilder.header.containerMode">

      <!-- Page Header -->
      <div class="page-header">
        <div class="row align-items-end">
          <div class="col-sm mb-2 mb-sm-0">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-no-gutter">
                <li class="breadcrumb-item">콘텐츠</li>
                <li class="breadcrumb-item active" aria-current="page">메인배너</li>
              </ol>
            </nav>
            <h1 class="page-title">메인배너</h1>
          </div>
        </div>
        <!-- End Row -->

        <!-- Nav -->
        @@include("@@autopath/inculde/contents/nav-menu-contents.html")
        <!-- End Nav -->
      </div>
      <!-- End Page Header -->

      <!-- Card -->

      <!-- End Card -->
    </div>
    <!-- End Content -->
  </main>
  <!-- ========== END CONTENTS ========== -->

  <!-- JS Global Compulsory @@deleteLine:build -->
  <script src="@@autopath/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="@@autopath/node_modules/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="@@autopath/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <!-- JS Implementing Plugins -->
  <!-- bundlejs:vendor [@@autopath] -->
  @@include("@@autopath/inculde/res/vendor.html")
  <script src="@@autopath/node_modules/daterangepicker/moment.min.js"></script>
  <script src="@@autopath/node_modules/daterangepicker/daterangepicker.js"></script>


  <!-- JS Front -->
  <!-- bundlejs:theme [@@autopath] -->
  @@include("@@autopath/inculde/res/theme.html")
  <script src="@@autopath/assets/js/hs.daterangepicker.js"></script>


  <script>
  $(document).on('ready', function () {
    // initialization of daterangepicker
    var startDate = null,
        endDate = null;

    $('.js-daterangepicker').each(function () {
      var d = $.HSCore.components.HSDaterangepicker.init($(this));
    });

    $('.js-daterangepicker').on('apply.daterangepicker', function(ev, picker) {
      $(this).val(picker.startDate.format('YYYY/MM/DD') + ' - ' + picker.endDate.format('YYYY/MM/DD'));

      startDate = moment(picker.startDate.format('YYYY/MM/DD'));
      endDate = moment(picker.endDate.format('YYYY/MM/DD'));

      datatable.draw();
    });

    $('.js-daterangepicker').on('cancel.daterangepicker', function(ev, picker) {
      $(this).val('');

      startDate = null;
      endDate = null;

      datatable.draw();
    });

    urlCompareAddClass($('.page-header-tabs .nav-link'), 'active');
  });
  </script>
</body>

</html>
