<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>Scrich 2.0 | Possession Product</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="@@autopath/favicon.ico">

  <!-- Font -->
  <link href="@@vars.googleFont" rel="stylesheet">

  <!-- CSS Implementing Plugins -->
  <!-- bundlecss:vendor [@@autopath] -->
  <link rel="stylesheet" href="@@autopath/assets/vendor/icon-set/style.css">
  <link rel="stylesheet" href="@@autopath/node_modules/daterangepicker/daterangepicker.css">
  <link rel="stylesheet" href="@@autopath/node_modules/select2/dist/css/select2.min.css">

  <!-- CSS Front Template -->
  <!-- bundlecss:theme [@@autopath] -->
  <link rel="stylesheet" href="@@autopath/assets/css/theme.css">
</head>

<body class="has-navbar-vertical-aside navbar-vertical-aside-show-xl">
  <!-- ========== HEADER ========== -->
  @@include("@@autopath/inculde/header/header.html")
  <!-- ========== END HEADER ========== -->

  <!-- ========== ASIDE : NAVBAR ========== -->
  @@include("@@autopath/inculde/navbar/navbar.html")
  <!-- ========== END ASIDE : NAVBAR ========== -->

  <!-- ========== CONTENTS ========== -->
  <main id="content" role="main" class="main">

    <!-- Content -->
    <div class="content container-fluid">
      <!-- Page Header -->
      <div class="page-header">
        <div class="row align-items-end">
          <div class="col-sm mb-2 mb-sm-0">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-no-gutter">
                <li class="breadcrumb-item">Users</li>
                <li class="breadcrumb-item">Profile</li>
                <li class="breadcrumb-item active" aria-current="page">Possession Product</li>
              </ol>
            </nav>
            <h1 class="page-title">Possession Product</h1>
          </div>
        </div>
        <!-- End Row -->
      </div>
      <!-- End Page Header -->

      <!-- Card -->
      <div class="card">
        <!-- Header -->
        <div class="card-header">
          <div class="row justify-content-between align-items-center flex-grow-1">
            <div class="col-sm-3 mb-3 mb-sm-0">
              <form>
                <!-- Search -->
                <div class="input-group input-group-merge input-group-flush">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="tio-search"></i>
                    </div>
                  </div>
                  <input id="datatableSearch" type="search" class="form-control" placeholder="Search Table" aria-label="Search Table">
                </div>
                <!-- End Search -->
              </form>
            </div>

            <div class="col-sm-6">
              <div class="d-sm-flex justify-content-sm-end align-items-sm-center">
                <!-- Unfold -->
                <div class="hs-unfold mr-2">
                  <a class="js-hs-unfold-invoker btn btn-sm btn-white dropdown-toggle" href="javascript:;"
                     data-hs-unfold-options='{
                       "target": "#usersExportDropdown",
                       "type": "css-animation"
                     }'>
                    <i class="tio-download-to mr-1"></i> Export
                  </a>

                  <div id="usersExportDropdown" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-sm-right">
                    <span class="dropdown-header">Options</span>
                    <a id="export-copy" class="dropdown-item" href="javascript:;">
                      <img class="avatar avatar-xss avatar-4by3 mr-2" src="@@autopath/assets/svg/illustrations/copy.svg" alt="Image Description">
                      Copy
                    </a>
                    <a id="export-print" class="dropdown-item" href="javascript:;">
                      <img class="avatar avatar-xss avatar-4by3 mr-2" src="@@autopath/assets/svg/illustrations/print.svg" alt="Image Description">
                      Print
                    </a>
                    <div class="dropdown-divider"></div>
                    <span class="dropdown-header">Download options</span>
                    <a id="export-excel" class="dropdown-item" href="javascript:;">
                      <img class="avatar avatar-xss avatar-4by3 mr-2" src="@@autopath/assets/svg/brands/excel.svg" alt="Image Description">
                      Excel
                    </a>
                    <a id="export-csv" class="dropdown-item" href="javascript:;">
                      <img class="avatar avatar-xss avatar-4by3 mr-2" src="@@autopath/assets/svg/components/placeholder-csv-format.svg" alt="Image Description">
                      .CSV
                    </a>
                    <a id="export-pdf" class="dropdown-item" href="javascript:;">
                      <img class="avatar avatar-xss avatar-4by3 mr-2" src="@@autopath/assets/svg/brands/pdf.svg" alt="Image Description">
                      PDF
                    </a>
                  </div>
                </div>
                <!-- End Unfold -->
              </div>
            </div>
          </div>
          <!-- End Row -->
        </div>
        <!-- End Header -->

        <!-- Table -->
        <div class="table-responsive datatable-custom">
          <table id="datatable" class="table table-lg table-borderless table-thead-bordered table-nowrap table-align-middle card-table table-hover"
                 data-hs-datatables-options='{
                   "columnDefs": [{
                      "targets": [0, 5],
                      "orderable": false
                    }],
                   "order": [],
                   "info": {
                     "totalQty": "#datatableWithPaginationInfoTotalQty"
                   },
                   "search": "#datatableSearch",
                   "entries": "#datatableEntries",
                   "pageLength": 15,
                   "isResponsive": false,
                   "isShowPaging": false,
                   "pagination": "datatablePagination"
                 }'>
            <thead class="thead-light">
              <tr>
                <th>Division</th>
                <th>Content</th>
                <th>Status</th>
                <th>Product Type</th>
                <th>Expiration Date</th>
                <th>Acquisition Date</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td class="user_id" user_id="user1"><a href="#">닉네임</a></td>
                <td>상품 타이틀</td>
                <td>리뷰완료</td>
                <td>기프티콘</td>
                <td>2020.12.02</td>
                <td>2020.12.02 23:59:59</td>
              </tr>
              <tr>
                <td class="user_id" user_id="user1"><a href="#">닉네임</a></td>
                <td>상품 타이틀</td>
                <td>리뷰완료</td>
                <td>기프티콘</td>
                <td>2020.12.02</td>
                <td>2020.12.02 23:59:59</td>
              </tr>
              <tr>
                <td class="user_id" user_id="user1"><a href="#">닉네임</a></td>
                <td>상품 타이틀</td>
                <td>리뷰완료</td>
                <td>기프티콘</td>
                <td>2020.12.02</td>
                <td>2020.12.02 23:59:59</td>
              </tr>
              <tr>
                <td class="user_id" user_id="user1"><a href="#">닉네임</a></td>
                <td>상품 타이틀</td>
                <td>리뷰완료</td>
                <td>기프티콘</td>
                <td>2020.12.02</td>
                <td>2020.12.02 23:59:59</td>
              </tr>
              <tr>
                <td class="user_id" user_id="user1"><a href="#">닉네임</a></td>
                <td>상품 타이틀</td>
                <td>리뷰완료</td>
                <td>기프티콘</td>
                <td>2020.12.02</td>
                <td>2020.12.02 23:59:59</td>
              </tr>
              <tr>
                <td class="user_id" user_id="user1"><a href="#">닉네임</a></td>
                <td>상품 타이틀</td>
                <td>리뷰완료</td>
                <td>기프티콘</td>
                <td>2020.12.02</td>
                <td>2020.12.02 23:59:59</td>
              </tr>
              <tr>
                <td class="user_id" user_id="user1"><a href="#">닉네임</a></td>
                <td>상품 타이틀</td>
                <td>리뷰완료</td>
                <td>기프티콘</td>
                <td>2020.12.02</td>
                <td>2020.12.02 23:59:59</td>
              </tr>
              <tr>
                <td class="user_id" user_id="user1"><a href="#">닉네임</a></td>
                <td>상품 타이틀</td>
                <td>리뷰완료</td>
                <td>기프티콘</td>
                <td>2020.12.02</td>
                <td>2020.12.02 23:59:59</td>
              </tr>
              <tr>
                <td class="user_id" user_id="user1"><a href="#">닉네임</a></td>
                <td>상품 타이틀</td>
                <td>리뷰완료</td>
                <td>기프티콘</td>
                <td>2020.12.02</td>
                <td>2020.12.02 23:59:59</td>
              </tr>
              <tr>
                <td class="user_id" user_id="user1"><a href="#">닉네임</a></td>
                <td>상품 타이틀</td>
                <td>리뷰완료</td>
                <td>기프티콘</td>
                <td>2020.12.02</td>
                <td>2020.12.02 23:59:59</td>
              </tr>
              <tr>
                <td class="user_id" user_id="user1"><a href="#">닉네임</a></td>
                <td>상품 타이틀</td>
                <td>리뷰완료</td>
                <td>기프티콘</td>
                <td>2020.12.02</td>
                <td>2020.12.02 23:59:59</td>
              </tr>
              <tr>
                <td class="user_id" user_id="user1"><a href="#">닉네임</a></td>
                <td>상품 타이틀</td>
                <td>리뷰완료</td>
                <td>기프티콘</td>
                <td>2020.12.02</td>
                <td>2020.12.02 23:59:59</td>
              </tr>
              <tr>
                <td class="user_id" user_id="user1"><a href="#">닉네임</a></td>
                <td>상품 타이틀</td>
                <td>리뷰완료</td>
                <td>기프티콘</td>
                <td>2020.12.02</td>
                <td>2020.12.02 23:59:59</td>
              </tr>
              <tr>
                <td class="user_id" user_id="user1"><a href="#">닉네임</a></td>
                <td>상품 타이틀</td>
                <td>리뷰완료</td>
                <td>기프티콘</td>
                <td>2020.12.02</td>
                <td>2020.12.02 23:59:59</td>
              </tr>
              <tr>
                <td class="user_id" user_id="user1"><a href="#">닉네임</a></td>
                <td>상품 타이틀</td>
                <td>리뷰완료</td>
                <td>기프티콘</td>
                <td>2020.12.02</td>
                <td>2020.12.02 23:59:59</td>
              </tr>
              <tr>
                <td class="user_id" user_id="user1"><a href="#">닉네임</a></td>
                <td>상품 타이틀</td>
                <td>리뷰완료</td>
                <td>기프티콘</td>
                <td>2020.12.02</td>
                <td>2020.12.02 23:59:59</td>
              </tr>
              <tr>
                <td class="user_id" user_id="user1"><a href="#">닉네임</a></td>
                <td>상품 타이틀</td>
                <td>리뷰완료</td>
                <td>기프티콘</td>
                <td>2020.12.02</td>
                <td>2020.12.02 23:59:59</td>
              </tr>
              <tr>
                <td class="user_id" user_id="user1"><a href="#">닉네임</a></td>
                <td>상품 타이틀</td>
                <td>리뷰완료</td>
                <td>기프티콘</td>
                <td>2020.12.02</td>
                <td>2020.12.02 23:59:59</td>
              </tr>
              <tr>
                <td class="user_id" user_id="user1"><a href="#">닉네임</a></td>
                <td>상품 타이틀</td>
                <td>리뷰완료</td>
                <td>기프티콘</td>
                <td>2020.12.02</td>
                <td>2020.12.02 23:59:59</td>
              </tr>
              <tr>
                <td class="user_id" user_id="user1"><a href="#">닉네임</a></td>
                <td>상품 타이틀</td>
                <td>리뷰완료</td>
                <td>기프티콘</td>
                <td>2020.12.02</td>
                <td>2020.12.02 23:59:59</td>
              </tr>
              <tr>
                <td class="user_id" user_id="user1"><a href="#">닉네임</a></td>
                <td>상품 타이틀</td>
                <td>리뷰완료</td>
                <td>기프티콘</td>
                <td>2020.12.02</td>
                <td>2020.12.02 23:59:59</td>
              </tr>
              <tr>
                <td class="user_id" user_id="user1"><a href="#">닉네임</a></td>
                <td>상품 타이틀</td>
                <td>리뷰완료</td>
                <td>기프티콘</td>
                <td>2020.12.02</td>
                <td>2020.12.02 23:59:59</td>
              </tr>
              <tr>
                <td class="user_id" user_id="user1"><a href="#">닉네임</a></td>
                <td>상품 타이틀</td>
                <td>리뷰완료</td>
                <td>기프티콘</td>
                <td>2020.12.02</td>
                <td>2020.12.02 23:59:59</td>
              </tr>
              <tr>
                <td class="user_id" user_id="user1"><a href="#">닉네임</a></td>
                <td>상품 타이틀</td>
                <td>리뷰완료</td>
                <td>기프티콘</td>
                <td>2020.12.02</td>
                <td>2020.12.02 23:59:59</td>
              </tr>
              <tr>
                <td class="user_id" user_id="user1"><a href="#">닉네임</a></td>
                <td>상품 타이틀</td>
                <td>리뷰완료</td>
                <td>기프티콘</td>
                <td>2020.12.02</td>
                <td>2020.12.02 23:59:59</td>
              </tr>
              <tr>
                <td class="user_id" user_id="user1"><a href="#">닉네임</a></td>
                <td>상품 타이틀</td>
                <td>리뷰완료</td>
                <td>기프티콘</td>
                <td>2020.12.02</td>
                <td>2020.12.02 23:59:59</td>
              </tr>
              <tr>
                <td class="user_id" user_id="user1"><a href="#">닉네임</a></td>
                <td>상품 타이틀</td>
                <td>리뷰완료</td>
                <td>기프티콘</td>
                <td>2020.12.02</td>
                <td>2020.12.02 23:59:59</td>
              </tr>
              <tr>
                <td class="user_id" user_id="user1"><a href="#">닉네임</a></td>
                <td>상품 타이틀</td>
                <td>리뷰완료</td>
                <td>기프티콘</td>
                <td>2020.12.02</td>
                <td>2020.12.02 23:59:59</td>
              </tr>
              <tr>
                <td class="user_id" user_id="user1"><a href="#">닉네임</a></td>
                <td>상품 타이틀</td>
                <td>리뷰완료</td>
                <td>기프티콘</td>
                <td>2020.12.02</td>
                <td>2020.12.02 23:59:59</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- End Table -->

        <!-- Footer -->
        <div class="card-footer">
          <!-- Pagination -->
          <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
            <div class="col-sm mb-2 mb-sm-0">
              <div class="d-flex justify-content-center justify-content-sm-start align-items-center">
                <span class="mr-2">Showing:</span>

                <!-- Select -->
                <select id="datatableEntries" class="js-select2-custom"
                        data-hs-select2-options='{
                            "minimumResultsForSearch": "Infinity",
                            "customClass": "custom-select custom-select-sm custom-select-borderless",
                            "dropdownAutoWidth": true,
                            "width": true
                        }'>
                  <option value="10">10</option>
                  <option value="15" selected>15</option>
                  <option value="20">20</option>
                </select>
                <!-- End Select -->

                <span class="text-secondary mr-2">of</span>

                <!-- Pagination Quantity -->
                <span id="datatableWithPaginationInfoTotalQty"></span>
              </div>
            </div>

            <div class="col-sm-auto">
              <div class="d-flex justify-content-center justify-content-sm-end">
                <!-- Pagination -->
                <nav id="datatablePagination" aria-label="Activity pagination"></nav>
              </div>
            </div>
          </div>
          <!-- End Pagination -->
        </div>
        <!-- End Footer -->
      </div>
      <!-- End Card -->
    </div>
    <!-- End Content -->
  </main>
  <!-- ========== END CONTENTS ========== -->

  <!-- JS Global Compulsory @@deleteLine:build -->
  <script src="@@autopath/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="@@autopath/node_modules/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="@@autopath/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <!-- JS Implementing Plugins -->
  <!-- bundlejs:vendor [@@autopath] -->
  @@include("@@autopath/inculde/res/vendor.html")
  <script src="@@autopath/node_modules/daterangepicker/moment.min.js"></script>
  <script src="@@autopath/node_modules/daterangepicker/daterangepicker.js"></script>
  <script src="@@autopath/node_modules/datatables/media/js/jquery.dataTables.min.js"></script>
  <script src="@@autopath/assets/vendor/datatables.net.extensions/select/select.min.js"></script>
  <script src="@@autopath/node_modules/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="@@autopath/node_modules/datatables.net-buttons/js/buttons.flash.min.js"></script>
  <script src="@@autopath/node_modules/jszip/dist/jszip.min.js"></script>
  <script src="@@autopath/node_modules/pdfmake/build/pdfmake.min.js"></script>
  <script src="@@autopath/node_modules/pdfmake/build/vfs_fonts.js"></script>
  <script src="@@autopath/node_modules/datatables.net-buttons/js/buttons.html5.min.js"></script>
  <script src="@@autopath/node_modules/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script src="@@autopath/node_modules/datatables.net-buttons/js/buttons.colVis.min.js"></script>


  <!-- JS Front -->
  <!-- bundlejs:theme [@@autopath] -->
  @@include("@@autopath/inculde/res/theme.html")
  <script src="@@autopath/assets/js/hs.daterangepicker.js"></script>
  <script src="@@autopath/assets/js/hs.datatables.js"></script>

  <script>
    $(document).on('ready', function () {
      // initialization of datatables
      var datatable = $.HSCore.components.HSDatatables.init($('#datatable'), {
        dom: 'Bfrtip',
        buttons: [
          {
            extend: 'copy',
            className: 'd-none'
          },
          {
            extend: 'excel',
            className: 'd-none'
          },
          {
            extend: 'csv',
            className: 'd-none'
          },
          {
            extend: 'pdf',
            className: 'd-none'
          },
          {
            extend: 'print',
            className: 'd-none'
          },
        ]
      });

      $('#export-copy').click(function() {
        datatable.button('.buttons-copy').trigger()
      });

      $('#export-excel').click(function() {
        datatable.button('.buttons-excel').trigger()
      });

      $('#export-csv').click(function() {
        datatable.button('.buttons-csv').trigger()
      });

      $('#export-pdf').click(function() {
        datatable.button('.buttons-pdf').trigger()
      });

      $('#export-print').click(function() {
        datatable.button('.buttons-print').trigger()
      });

      $('.js-datatable-filter').on('change', function() {
        var $this = $(this),
          elVal = $this.val(),
          targetColumnIndex = $this.data('target-column-index');

        datatable.column(targetColumnIndex).search(elVal).draw();
      });

      $('#datatableSearch').on('mouseup', function (e) {
        var $input = $(this),
          oldValue = $input.val();

        if (oldValue == "") return;

        setTimeout(function(){
          var newValue = $input.val();

          if (newValue == ""){
            // Gotcha
            datatable.search('').draw();
          }
        }, 1);
      });

      // initialization of daterangepicker
      var startDate = null,
          endDate = null;

      $('.js-daterangepicker').each(function () {
        var d = $.HSCore.components.HSDaterangepicker.init($(this));
      });

      $('.js-daterangepicker').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('YYYY/MM/DD') + ' - ' + picker.endDate.format('YYYY/MM/DD'));

        startDate = moment(picker.startDate.format('YYYY/MM/DD'));
        endDate = moment(picker.endDate.format('YYYY/MM/DD'));

        datatable.draw();
      });

      $('.js-daterangepicker').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');

        startDate = null;
        endDate = null;

        datatable.draw();
      });

      $.fn.dataTable.ext.search.push(
        function (settings, data, dataIndex) {

          if (!startDate || !endDate) return true;

          let compareDate = moment(moment(data[4]).format('YYYY/MM/DD'));

          return compareDate.isBetween(startDate -1 , endDate + 1 );
        }
      );

      $("#datatable .user_id").on("click", function(){
          let seq = $(this).attr('user_id');

          console.log(seq);
          location.href="PGID_B1.html?user_id="+seq;
      });
    });
  </script>
</body>

</html>
