<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>Scrich 2.0 | User List</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="@@autopath/favicon.ico">

  <!-- Font -->
  <link href="@@vars.googleFont" rel="stylesheet">

  <!-- CSS Implementing Plugins -->
  <!-- bundlecss:vendor [@@autopath] -->
  <link rel="stylesheet" href="@@autopath/assets/vendor/icon-set/style.css">
  <link rel="stylesheet" href="@@autopath/node_modules/daterangepicker/daterangepicker.css">
  <link rel="stylesheet" href="@@autopath/node_modules/select2/dist/css/select2.min.css">

  <!-- CSS Front Template -->
  <!-- bundlecss:theme [@@autopath] -->
  <link rel="stylesheet" href="@@autopath/assets/css/theme.css">
</head>

<body class="has-navbar-vertical-aside navbar-vertical-aside-show-xl">
  <!-- ========== HEADER ========== -->
  @@include("@@autopath/inculde/header/header.html")
  <!-- ========== END HEADER ========== -->

  <!-- ========== ASIDE : NAVBAR ========== -->
  @@include("@@autopath/inculde/navbar/navbar.html")
  <!-- ========== END ASIDE : NAVBAR ========== -->

  <!-- ========== CONTENTS ========== -->
  <main id="content" role="main" class="main">

    <!-- Content -->
    <div class="content container-fluid">
      <!-- Page Header -->
      <div class="page-header">
        <div class="row align-items-end">
          <div class="col-sm mb-2 mb-sm-0" style="position:relative;">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-no-gutter">
                <li class="breadcrumb-item">Users</li>
                <li class="breadcrumb-item active" aria-current="page">Profile</li>
              </ol>
            </nav>
            <h1 class="page-title">Profile</h1>
            <!-- Avatar -->
            <label class="avatar avatar-lg avatar-circle avatar-border-lg avatar-uploader" for="avatarUploader">
              <img id="avatarImg" class="avatar-img" src="" alt="Image Description">

              <input type="file" class="js-file-attach avatar-uploader-input" id="avatarUploader"
              data-hs-file-attach-options='{
                "textTarget": "#avatarImg",
                "mode": "image",
                "targetAttr": "src"
              }'>

              <span class="avatar-uploader-trigger">
                <i class="tio-edit avatar-uploader-icon shadow-soft"></i>
              </span>
            </label>
            <!-- End Avatar -->
          </div>
        </div>
        <!-- End Row -->
      </div>
      <!-- End Page Header -->

      <!-- Card Section -->
      <div class="row gx-2 gx-lg-3">

        <!-- Card: Burnout Point -->
        <div class="col-sm-6 col-lg-4 col-xl-20 mb-3 mb-lg-5">
          <!-- Card -->
          <div class="card card-sm card-hover-shadow h-100">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <i class="tio-folder-shared tio-xl text-body mr-2"></i>
                <div class="">
                  <h5 class="card-title text-truncate mr-2">포인트</h5>
                  <p class="card-title text-truncate mr-2"><span id="point1"></span>/<span id="point2"></span></p>
                </div>
              </div>
            </div>
            <a class="stretched-link" href="#" href-url="PGID_B1A.html"></a>
          </div>
          <!-- End Card -->
        </div>
        <!-- End Card: Burnout Point -->

        <!-- Card: Burnout Point -->
        <div class="col-sm-6 col-lg-4 col-xl-20 mb-3 mb-lg-5">
          <!-- Card -->
          <div class="card card-sm card-hover-shadow h-100">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <i class="tio-folder-shared tio-xl text-body mr-2"></i>
                <div class="">
                  <h5 class="card-title text-truncate mr-2">리치쇼핑</h5>
                  <p class="card-title text-truncate mr-2"><span id="shopping1"></span>/<span id="shopping2"></span></p>
                </div>
              </div>
            </div>
            <a class="stretched-link" href="#" href-url="PGID_B1B.html"></a>
          </div>
          <!-- End Card -->
        </div>
        <!-- End Card: Burnout Point -->

        <!-- Card: Burnout Point -->
        <div class="col-sm-6 col-lg-4 col-xl-20 mb-3 mb-lg-5">
          <!-- Card -->
          <div class="card card-sm card-hover-shadow h-100">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <i class="tio-folder-shared tio-xl text-body mr-2"></i>
                <div class="">
                  <h5 class="card-title text-truncate mr-2">캠페인</h5>
                  <p class="card-title text-truncate mr-2"><span id="campaign1"></span>/<span id="campaign2"></span></p>
                </div>
              </div>
            </div>
            <a class="stretched-link" href="#" href-url="PGID_B1C.html"></a>
          </div>
          <!-- End Card -->
        </div>
        <!-- End Card: Burnout Point -->

        <!-- Card: Burnout Point -->
        <div class="col-sm-6 col-lg-4 col-xl-20 mb-3 mb-lg-5">
          <!-- Card -->
          <div class="card card-sm card-hover-shadow h-100">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <i class="tio-folder-shared tio-xl text-body mr-2"></i>
                <div class="">
                  <h5 class="card-title text-truncate mr-2">보유상품</h5>
                  <p class="card-title text-truncate mr-2"><span id="product1"></span>/<span id="product2"></span></p>
                </div>
              </div>
            </div>
            <a class="stretched-link" href="#" href-url="PGID_B1D.html"></a>
          </div>
          <!-- End Card -->
        </div>
        <!-- End Card: Burnout Point -->

        <!-- Card: Burnout Point -->
        <div class="col-sm-6 col-lg-4 col-xl-20 mb-3 mb-lg-5">
          <!-- Card -->
          <div class="card card-sm card-hover-shadow h-100">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <i class="tio-folder-shared tio-xl text-body mr-2"></i>
                <div class="">
                  <h5 class="card-title text-truncate mr-2">신고</h5>
                  <p class="card-title text-truncate mr-2"><span id="report1"></span>/<span id="report2"></span></p>
                </div>
              </div>
            </div>
            <a class="stretched-link" href="#" href-url="PGID_B1E.html"></a>
          </div>
          <!-- End Card -->
        </div>
        <!-- End Card: Burnout Point -->

      </div>
      <!-- End Card Section -->

      <div class="row gx2 gx-lg-3">
        <div class="col-lg-6">
          <!-- Card -->
          <div class="card mb-3 mb-lg-5">
            <div class="card-header">
              <h2 class="card-title h4" style="line-height:35px;">Basic information</h2>
              <div class="btn-wrap">
                <button class="basicInfoCancle btn btn-sm btn-secondary">cancle</button>
                <button class="basicInfoEdit btn btn-sm btn-white">Edit</button>
                <button class="basicInfoSave btn btn-sm btn-white d-none">Save</button>
              </div>
            </div>

            <!-- Body -->
            <div class="card-body">
              <!-- Form -->
              <form id="userInfo" action="" method="post">
                <!-- Form Group -->
                <div class="row form-group">
                  <label for="userId" class="col-sm-3 col-form-label input-label">아이디</label>

                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="organization" id="userId" placeholder="Your organization" aria-label="Your organization" value="" disabled>
                  </div>
                </div>
                <!-- End Form Group -->

                <!-- Form Group -->
                <div class="row form-group">
                  <label for="userStatus" class="col-sm-3 col-form-label input-label">회원상태</label>

                  <div class="col-sm-9">
                    <!-- Select -->
                    <select class="js-select2-custom editInput" id="userStatus" disabled
                    data-hs-select2-options='{
                      "minimumResultsForSearch": "Infinity"
                    }'>
                      <option value=""></option>
                      <option value="정상">정상</option>
                      <option value="정지">정지</option>
                      <option value="탈퇴">탈퇴</option>
                      <option value="휴면">휴면</option>
                    </select>
                    <!-- End Select -->
                  </div>
                </div>
                <!-- End Form Group -->

                <!-- Form Group -->
                <div class="row form-group">
                  <label for="userNickName" class="col-sm-3 col-form-label input-label">닉네임</label>

                  <div class="col-sm-9">
                    <input type="text" class="form-control editInput" name="userNickName" id="userNickName" placeholder="Your nickName" aria-label="Your nickName" value="" minlength="2" maxlength="11" disabled>
                  </div>
                </div>
                <!-- End Form Group -->

                <!-- Form Group -->
                <div class="row form-group">
                  <label for="userLocation" class="col-sm-3 col-form-label input-label">지역</label>

                  <div class="col-sm-9">
                    <!-- Select -->
                    <select class="js-select2-custom" id="userLocation" disabled
                            data-hs-select2-options='{
                              "minimumResultsForSearch": "Infinity"
                            }'>
                      <option value="*">시/도</option>
                      <option value="36">세종특별자치시</option>
                      <option value="50">제주특별자치도</option>
                      <option value="48">경상남도</option>
                      <option value="47">경상북도</option>
                      <option value="46">전라남도</option>
                      <option value="45">전라북도</option>
                      <option value="44">충청남도</option>
                      <option value="43">충청북도</option>
                      <option value="42">강원도</option>
                      <option value="41">경기도</option>
                      <option value="31">울산광역시</option>
                      <option value="30">대전광역시</option>
                      <option value="29">광주광역시</option>
                      <option value="28">인천광역시</option>
                      <option value="27">대구광역시</option>
                      <option value="26">부산광역시</option>
                      <option value="11">서울특별시</option>
                    </select>
                    <!-- End Select -->
                  </div>
                </div>
                <!-- End Form Group -->

                <!-- Form Group -->
                <div class="row form-group">
                  <label for="userPhone" class="col-sm-3 col-form-label input-label">연락처</label>

                  <div class="col-sm-9">
                    <input type="text" class="js-masked-input form-control editInput" name="userPhone" id="userPhone" placeholder="xxx-xxxx-xxxx" aria-label="xxx-xxxx-xxxx" disabled value=""
                    data-hs-mask-options='{
                      "template": "010-0000-0000"
                    }'>
                  </div>
                </div>
                <!-- End Form Group -->

                <!-- Form Group -->
                <div class="row form-group">
                  <label for="userBirth" class="col-sm-3 col-form-label input-label">생년월일</span></label>

                  <div class="col-sm-9">
                    <input type="text" class="js-masked-input form-control editInput" name="userBirth" id="userBirth" placeholder="xxxx/xx/xx" aria-label="xxxx/xx/xx" value="" disabled
                    data-hs-mask-options='{
                      "template": "0000/00/00"
                    }'>
                  </div>
                </div>
                <!-- End Form Group -->

                <!-- Form Group -->
                <div class="row form-group">
                  <label for="userGender" class="col-sm-3 col-form-label input-label">성별</label>

                  <div class="col-sm-9">
                    <!-- Select -->
                    <select class="js-select2-custom editInput" id="userGender" disabled
                    data-hs-select2-options='{
                      "minimumResultsForSearch": "Infinity"
                    }'>
                      <option value=""></option>
                      <option value="남성">남성</option>
                      <option value="여성">여성</option>
                    </select>
                    <!-- End Select -->
                  </div>
                </div>
                <!-- End Form Group -->

                <!-- Form Group -->
                <div class="row form-group">
                  <label for="userSignUpDate" class="col-sm-3 col-form-label input-label">가입일</span></label>

                  <div class="col-sm-9">
                    <input type="text" class="js-masked-input form-control" name="userSignUpDate" id="userSignUpDate" placeholder="xxxx/xx/xx xx:xx:xx" aria-label="xxxx/xx/xx xx:xx:xx" value="" disabled
                    data-hs-mask-options='{
                      "template": "0000/00/00 00:00:00"
                    }'>
                  </div>
                </div>
                <!-- End Form Group -->

                <!-- Form Group -->
                <div class="row form-group">
                  <label for="userSignOutDate" class="col-sm-3 col-form-label input-label">탈퇴일</span></label>

                  <div class="col-sm-9">
                    <input type="text" class="js-masked-input form-control" name="userSignOutDate" id="userSignOutDate" placeholder="xxxx/xx/xx xx:xx:xx" aria-label="xxxx/xx/xx xx:xx:xx" value="" disabled
                    data-hs-mask-options='{
                      "template": "0000/00/00 00:00:00"
                    }'>
                  </div>
                </div>
                <!-- End Form Group -->

                <!-- Form Group -->
                <div class="row form-group">
                  <label for="userOS" class="col-sm-3 col-form-label input-label">OS</span></label>

                  <div class="col-sm-9">
                    <input type="text" class="js-masked-input form-control" name="userOS" id="userOS" value="" disabled>
                  </div>
                </div>
                <!-- End Form Group -->
              </form>
              <!-- End Form -->
            </div>
            <!-- End Body -->
          </div>
          <!-- End Card -->
        </div>
        <div class="col-lg-6">
          <div class="card mb-3 mb-lg-5">
            <div class="card-header">
              <h2 class="card-title h4" style="line-height:35px;">Manager note</h2>
            </div>

            <!-- Body -->
            <div class="card-body">

            </div>
            <!-- End Body -->
          </div>
        </div>
      </div>

    </div>
    <!-- End Content -->
  </main>
  <!-- ========== END CONTENTS ========== -->

  <!-- JS Global Compulsory @@deleteLine:build -->
  <script src="@@autopath/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="@@autopath/node_modules/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="@@autopath/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <!-- JS Implementing Plugins -->
  <!-- bundlejs:vendor [@@autopath] -->
  @@include("@@autopath/inculde/res/vendor.html")
  <script src="@@autopath/node_modules/jquery-mask-plugin/dist/jquery.mask.min.js"></script>

  <!-- JS Front -->
  <!-- bundlejs:theme [@@autopath] -->
  @@include("@@autopath/inculde/res/theme.html")
  <script src="@@autopath/assets/js/hs.mask.js"></script>
  <script src="@@autopath/assets/js/hs.pwstrength.js"></script>

  <script>
    let userId = getParameterByName('user-id'),
        userInfo = {
          'id': userId,
          'status': '정상',
          'nickName': '스크리치',
          'location': 11,
          'phone': '01037626202',
          'birth': '2020/11/12',
          'gender': '남성',
          'signUpDate': '2020/11/12 23:59:59',
          'signOutDate': '2020/11/12 23:59:59',
          'os': 'aos 1.10.1',
          'point': [50000, 78000],
          'shopping': [50000, 78000],
          'campaign': [50000, 78000],
          'product': [50000, 78000],
          'report': [50000, 78000],
          'imgSrc': '@@autopath/assets/img/160x160/img6.jpg'
        },
        link_1 = new Go('.stretched-link');
        // submit = new SubmitForm('#userInfo');

    function userInfoLoad() {
      $('#userId').val(userInfo.id);
      $('#userStatus').val(userInfo.status);
      $('#userNickName').val(userInfo.nickName);
      $('#userLocation').val(userInfo.location);
      $('#userPhone').val(userInfo.phone);
      $('#userBirth').val(userInfo.birth);
      $('#userGender').val(userInfo.gender);
      $('#userSignUpDate').val(userInfo.signUpDate);
      $('#userSignOutDate').val(userInfo.signOutDate);
      $('#userOS').val(userInfo.os);
      $('#point1').text(dataWithComma(userInfo.point[0]));
      $('#point2').text(dataWithComma(userInfo.point[1]));
      $('#shopping1').text(dataWithComma(userInfo.shopping[0]));
      $('#shopping2').text(dataWithComma(userInfo.shopping[1]));
      $('#campaign1').text(dataWithComma(userInfo.campaign[0]));
      $('#campaign2').text(dataWithComma(userInfo.campaign[1]));
      $('#product1').text(dataWithComma(userInfo.product[0]));
      $('#product2').text(dataWithComma(userInfo.product[1]));
      $('#report1').text(dataWithComma(userInfo.report[0]));
      $('#report2').text(dataWithComma(userInfo.report[1]));
      $('#avatarImg').attr('src', userInfo.imgSrc);
    }

    $(document).on('ready', function () {
      // initialization of Input Masks
      $('.js-masked-input').each(function () {
        $.HSCore.components.HSMask.init($(this));
      });

      // 회원정보 edit 모드 진입
      $('.basicInfoEdit').click(function() {
        $(this).addClass('d-none');
        $('.editInput').removeAttr('disabled');
        $('.basicInfoSave').removeClass('d-none');
        $('.basicInfoCancle').removeClass('d-none');
      });

      // 회원정보 edit 모드 종료
      $('.basicInfoSave', '.basicInfoCancle').on('click', function() {
        $('.editInput').attr('disabled');
        $('.basicInfoEdit').removeClass('d-none');
        $('.basicInfoSave').addClass('d-none');
        $('.basicInfoCancle').addClass('d-none');

        if($(this).hasClass('basicInfoSave') === true){
          alert('회원정보가 변경되었습니다.');
          
        }
      });

      userInfoLoad();

      $('.stretched-link').attr('user-id', userId);
      link_1.link('href-url','user-id');
    });
  </script>
</body>

</html>
