<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>Scrich admin 2.0 | Common layout</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="@@autopath/favicon.ico">

  <!-- Font -->
  <link href="@@vars.googleFont" rel="stylesheet">

  <!-- CSS Implementing Plugins -->
  <!-- bundlecss:vendor [@@autopath] -->
  <link rel="stylesheet" href="@@autopath/assets/vendor/icon-set/style.css">
  <link rel="stylesheet" href="@@autopath/node_modules/daterangepicker/daterangepicker.css">
  <link rel="stylesheet" href="@@autopath/node_modules/select2/dist/css/select2.min.css">

  <!-- CSS Front Template -->
  <!-- bundlecss:theme [@@autopath] -->
  <link rel="stylesheet" href="@@autopath/assets/css/theme.css">
</head>

<body class="has-navbar-vertical-aside navbar-vertical-aside-show-xl">
  <!-- ========== HEADER ========== -->
  @@include("@@autopath/inculde/header/header.html")
  <!-- ========== END HEADER ========== -->

  <!-- ========== ASIDE : NAVBAR ========== -->
  @@include("@@autopath/inculde/navbar/navbar.html")
  <!-- ========== END ASIDE : NAVBAR ========== -->

  <!-- ========== CONTENTS ========== -->
  <main id="content" role="main" class="main">
    <!-- Content -->
    <div class="content @@layoutBuilder.header.containerMode">

      <!-- Page Header -->
      <div class="page-header">
        <div class="row align-items-end">
          <div class="col-sm mb-2 mb-sm-0">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-no-gutter">
                <li class="breadcrumb-item">Posts</li>
                <li class="breadcrumb-item active" aria-current="page">Talk</li>
              </ol>
            </nav>
            <h1 class="page-title">Talk</h1>
          </div>

          <div class="col-sm-auto">
            <div id="newProjectPopover" data-toggle="popover" data-placement="left" title="" data-content="Check out this New project modal example." data-html="true">
              <a class="btn btn-primary" href="javascript:;" data-toggle="modal" data-target="#newProjectModal">
                <i class="tio-add mr-1"></i> New project
              </a>
            </div>
          </div>
        </div>
        <!-- End Row -->

        <!-- Nav -->
        @@include("@@autopath/inculde/posts/nav-menu-posts.html")
        <!-- End Nav -->
      </div>
      <!-- End Page Header -->

      <div class="row position-relative">
        <div class="col-lg-4">
          <!-- Card -->
          <div class="card card-auto-height mb-lg-5">
            <!-- Header -->
            <div class="card-header">
              <div class="row justify-content-between align-items-center flex-grow-1">
                <div class="col-sm-8 mb-3 mb-sm-0">
                  <form>
                    <!-- Search -->
                    <div class="input-group input-group-merge input-group-flush">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tio-search"></i>
                        </div>
                      </div>
                      <input id="datatableSearch" type="search" class="form-control" placeholder="Search users" aria-label="Search users">
                    </div>
                    <!-- End Search -->
                  </form>
                </div>

                <div class="col-sm-4">
                  <div class="d-sm-flex justify-content-sm-end align-items-sm-center">
                    <!-- Unfold -->
                    <div class="hs-unfold">
                      <a class="js-hs-unfold-invoker btn btn-sm btn-white" href="javascript:;"
                         data-hs-unfold-options='{
                           "target": "#usersFilterDropdown",
                           "type": "css-animation",
                           "smartPositionOff": true
                         }'>
                        <i class="tio-filter-list mr-1"></i> Filter <span class="badge badge-soft-dark rounded-circle ml-1">2</span>
                      </a>

                      <div id="usersFilterDropdown" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-sm-right dropdown-card card-dropdown-filter-centered" style="min-width: 22rem;">
                        <!-- Card -->
                        <div class="card">
                          <div class="card-header">
                            <h5 class="card-header-title">Filter users</h5>

                            <!-- Toggle Button -->
                            <a class="js-hs-unfold-invoker btn btn-icon btn-xs btn-ghost-secondary ml-2" href="javascript:;"
                               data-hs-unfold-options='{
                                "target": "#usersFilterDropdown",
                                "type": "css-animation",
                                "smartPositionOff": true
                               }'>
                              <i class="tio-clear tio-lg"></i>
                            </a>
                            <!-- End Toggle Button -->
                          </div>

                          <div class="card-body">
                            <form>
                              <div class="form-row">
                                <div class="col-sm form-group">
                                  <small class="text-cap mb-2">Status</small>

                                  <!-- Select -->
                                  <select class="js-select2-custom js-datatable-filter"
                                          data-target-column-index="0"
                                          data-hs-select2-options='{
                                            "minimumResultsForSearch": "Infinity"
                                          }'>
                                    <option value="">Any status</option>
                                    <option value="Active" data-option-template='<span class="legend-indicator bg-success"></span>정상'>정상</option>
                                    <option value="Stop" data-option-template='<span class="legend-indicator bg-warning"></span>정지'>정지</option>
                                    <option value="Secession" data-option-template='<span class="legend-indicator bg-danger"></span>탈퇴'>탈퇴</option>
                                    <option value="Dormancy" data-option-template='<span class="legend-indicator bg-danger"></span>휴면'>휴면</option>
                                  </select>
                                  <!-- End Select -->
                                </div>
                              </div>
                              <!-- End Row -->

                              <div class="form-row">
                                  <div class="col-sm form-group">
                                      <small class="text-cap mb-2">Join Date</small>

                                      <!-- Daterangepicker -->
                                      <div class="input-group input-group-merge">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text">
                                            <i class="tio-date-range"></i>
                                          </span>
                                        </div>
                                        <input type="text" class="js-daterangepicker js-datatable-filter form-control daterangepicker-custom-input"
                                            placeholder="Select dates"
                                           data-hs-daterangepicker-options='{
                                             "autoUpdateInput": false,
                                             "locale": {
                                               "cancelLabel": "Clear"
                                             }
                                           }'
                                         >
                                      </div>
                                      <!-- End Daterangepicker -->
                                  </div>
                              </div>

                              <a class="js-hs-unfold-invoker btn btn-block btn-primary" href="javascript:;"
                                 data-hs-unfold-options='{
                                  "target": "#usersFilterDropdown",
                                  "type": "css-animation",
                                  "smartPositionOff": true
                                 }'>Apply</a>
                            </form>
                          </div>
                        </div>
                        <!-- End Card -->
                      </div>
                    </div>
                    <!-- End Unfold -->
                  </div>
                </div>
              </div>
              <!-- End Row -->
            </div>
            <!-- End Header -->

            <!-- Table -->
            <div class="table-responsive datatable-custom card-body card-body-height">
              <table id="datatable" class="table table-lg table-borderless table-thead-bordered table-nowrap table-align-middle card-table"
                     data-hs-datatables-options='{
                       "columnDefs": [{
                          "targets": [0, 3],
                          "orderable": false
                        }],
                       "order": [],
                       "info": {
                         "totalQty": "#datatableWithPaginationInfoTotalQty"
                       },
                       "search": "#datatableSearch",
                       "entries": "#datatableEntries",
                       "pageLength": 10,
                       "isResponsive": false,
                       "isShowPaging": false,
                       "pagination": "datatablePagination"
                     }'>
                <thead class="thead-light d-none">
                  <tr>
                    <th>Status</th>
                    <th>User ID</th>
                    <th>Nick Name</th>
                    <th>Gender</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>
                      <span class="legend-indicator bg-success"></span>Active
                    </td>
                    <td>Scrich</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                    <td>010-3762-6202</td>
                    <td>2020/11/02</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="legend-indicator bg-success"></span>Active
                    </td>
                    <td>Scrich</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                    <td>010-3762-6202</td>
                    <td>2020/11/02</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="legend-indicator bg-success"></span>Active
                    </td>
                    <td>Scrich</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                    <td>010-3762-6202</td>
                    <td>2020/11/02</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="legend-indicator bg-success"></span>Active
                    </td>
                    <td>Scrich</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                    <td>010-3762-6202</td>
                    <td>2020/11/02</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="legend-indicator bg-success"></span>Active
                    </td>
                    <td>Scrich</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                    <td>010-3762-6202</td>
                    <td>2020/11/02</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="legend-indicator bg-success"></span>Active
                    </td>
                    <td>Scrich</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                    <td>010-3762-6202</td>
                    <td>2020/11/02</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="legend-indicator bg-success"></span>Active
                    </td>
                    <td>Scrich</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                    <td>010-3762-6202</td>
                    <td>2020/11/02</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="legend-indicator bg-success"></span>Active
                    </td>
                    <td>Scrich</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                    <td>010-3762-6202</td>
                    <td>2020/11/02</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="legend-indicator bg-success"></span>Active
                    </td>
                    <td>Scrich</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                    <td>010-3762-6202</td>
                    <td>2020/11/02</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="legend-indicator bg-success"></span>Active
                    </td>
                    <td>Scrich</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                    <td>010-3762-6202</td>
                    <td>2020/11/02</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="legend-indicator bg-success"></span>Active
                    </td>
                    <td>Scrich</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                    <td>010-3762-6202</td>
                    <td>2020/11/02</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="legend-indicator bg-success"></span>Active
                    </td>
                    <td>Scrich</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                    <td>010-3762-6202</td>
                    <td>2020/11/02</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="legend-indicator bg-success"></span>Active
                    </td>
                    <td>Scrich</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                    <td>010-3762-6202</td>
                    <td>2020/11/02</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="legend-indicator bg-success"></span>Active
                    </td>
                    <td>Scrich</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                    <td>010-3762-6202</td>
                    <td>2020/11/02</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="legend-indicator bg-success"></span>Active
                    </td>
                    <td>Scrich</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                    <td>010-3762-6202</td>
                    <td>2020/11/02</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="legend-indicator bg-success"></span>Active
                    </td>
                    <td>Scrich</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                    <td>010-3762-6202</td>
                    <td>2020/11/02</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="legend-indicator bg-success"></span>Active
                    </td>
                    <td>Scrich</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                    <td>010-3762-6202</td>
                    <td>2020/11/02</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="legend-indicator bg-success"></span>Active
                    </td>
                    <td>Scrich</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                    <td>010-3762-6202</td>
                    <td>2020/11/02</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="legend-indicator bg-success"></span>Active
                    </td>
                    <td>Scrich</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                    <td>010-3762-6202</td>
                    <td>2020/11/02</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="legend-indicator bg-success"></span>Active
                    </td>
                    <td>Scrich</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                    <td>010-3762-6202</td>
                    <td>2020/11/02</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="legend-indicator bg-success"></span>Active
                    </td>
                    <td>Scrich</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                    <td>010-3762-6202</td>
                    <td>2020/11/02</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="legend-indicator bg-success"></span>Active
                    </td>
                    <td>Scrich</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                    <td>010-3762-6202</td>
                    <td>2020/11/02</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="legend-indicator bg-success"></span>Active
                    </td>
                    <td>Scrich</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                    <td>010-3762-6202</td>
                    <td>2020/11/02</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- End Table -->

            <!-- Footer -->
            <div class="card-footer">
              <!-- Pagination -->
              <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
                <div class="col-sm mb-2 mb-sm-0">
                  <div class="d-flex justify-content-center justify-content-sm-start align-items-center">
                    <span class="mr-2">Showing:</span>

                    <!-- Select -->
                    <select id="datatableEntries" class="js-select2-custom"
                            data-hs-select2-options='{
                                "minimumResultsForSearch": "Infinity",
                                "customClass": "custom-select custom-select-sm custom-select-borderless",
                                "dropdownAutoWidth": true,
                                "width": true
                            }'>
                      <option value="10">10</option>
                      <option value="15" selected>15</option>
                      <option value="20">20</option>
                    </select>
                    <!-- End Select -->

                    <span class="text-secondary mr-2">of</span>

                    <!-- Pagination Quantity -->
                    <span id="datatableWithPaginationInfoTotalQty"></span>
                  </div>
                </div>

                <div class="col-sm-auto">
                  <div class="d-flex justify-content-center justify-content-sm-end">
                    <!-- Pagination -->
                    <nav id="datatablePagination" aria-label="Activity pagination"></nav>
                  </div>
                </div>
              </div>
              <!-- End Pagination -->
            </div>
            <!-- End Footer -->
          </div>
          <!-- End Card -->
        </div>
        <div class="col-lg-8 d-none d-lg-block">
          <!-- Card -->
          <div class="card card-auto-height mb-3 mb-lg-5">
            <!-- Header -->
            <div class="card-header">
              <h5 class="card-header-title">Activity stream</h5>

              <!-- Unfold -->
              <div class="hs-unfold">
                <a class="js-hs-unfold-invoker btn btn-icon btn-sm btn-ghost-secondary rounded-circle" href="javascript:;"
                   data-hs-unfold-options='{
                     "target": "#contentActivityStreamDropdown",
                     "type": "css-animation"
                   }'>
                  <i class="tio-more-vertical"></i>
                </a>

                <div id="contentActivityStreamDropdown" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-right mt-1">
                  <span class="dropdown-header">Settings</span>

                  <a class="dropdown-item" href="#">
                    <i class="tio-share dropdown-item-icon"></i>
                    Share connections
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="tio-info-outined dropdown-item-icon"></i>
                    Suggest edits
                  </a>

                  <div class="dropdown-divider"></div>

                  <span class="dropdown-header">Feedback</span>

                  <a class="dropdown-item" href="#">
                    <i class="tio-chat-outlined dropdown-item-icon"></i>
                    Report
                  </a>
                </div>
              </div>
              <!-- End Unfold -->
            </div>
            <!-- End Header -->

            <!-- Body -->
            <div class="card-body card-body-height" style="height: 30rem;">
              <!-- Step -->
              <ul class="step step-icon-xs">
                <!-- Step Item -->
                <li class="step-item">
                  <div class="step-content-wrapper">
                    <span class="step-icon step-icon-pseudo step-icon-soft-dark"></span>

                    <div class="step-content">
                      <h5 class="mb-1">
                        <a class="text-dark" href="#">Task report - uploaded weekly reports</a>
                      </h5>

                      <p class="font-size-sm mb-1">Added 3 files to task <a class="text-uppercase" href="#"><i class="tio-folder-bookmarked"></i> Fd-7</a></p>

                      <ul class="list-group">
                        <!-- List Item -->
                        <li class="list-group-item list-group-item-light">
                          <div class="row gx-1">
                            <div class="col">
                              <div class="media">
                                <span class="mt-1 mr-2">
                                  <img class="avatar avatar-xs" src="@@autopath/assets/svg/brands/excel.svg" alt="Image Description">
                                </span>
                                <div class="media-body text-truncate">
                                  <span class="d-block font-size-sm text-dark text-truncate" title="weekly-reports.xls">weekly-reports.xls</span>
                                  <small class="d-block text-muted">12kb</small>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="media">
                                <span class="mt-1 mr-2">
                                  <img class="avatar avatar-xs" src="@@autopath/assets/svg/brands/word.svg" alt="Image Description">
                                </span>
                                <div class="media-body text-truncate">
                                  <span class="d-block font-size-sm text-dark text-truncate" title="weekly-reports.xls">weekly-reports.xls</span>
                                  <small class="d-block text-muted">4kb</small>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="media">
                                <span class="mt-1 mr-2">
                                  <img class="avatar avatar-xs" src="@@autopath/assets/svg/brands/word.svg" alt="Image Description">
                                </span>
                                <div class="media-body text-truncate">
                                  <span class="d-block font-size-sm text-dark text-truncate" title="monthly-reports.xls">monthly-reports.xls</span>
                                  <small class="d-block text-muted">8kb</small>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <!-- End List Item -->
                      </ul>

                      <small class="text-muted text-uppercase">Now</small>
                    </div>
                  </div>
                </li>
                <!-- End Step Item -->

                <!-- Step Item -->
                <li class="step-item">
                  <div class="step-content-wrapper">
                    <span class="step-icon step-icon-pseudo step-icon-soft-dark"></span>

                    <div class="step-content">
                      <h5 class="mb-1">
                        <a class="text-dark" href="#">Project status updated</a>
                      </h5>

                      <p class="font-size-sm mb-1">Marked <a class="text-uppercase" href="#"><i class="tio-folder-bookmarked"></i> Fr-6</a> as <span class="badge badge-soft-success badge-pill"><span class="legend-indicator bg-success"></span>"Completed"</span></p>

                      <small class="text-muted text-uppercase">Today</small>
                    </div>
                  </div>
                </li>
                <!-- End Step Item -->

                <!-- Step Item -->
                <li class="step-item">
                  <div class="step-content-wrapper">
                    <span class="step-icon step-icon-pseudo step-icon-soft-dark"></span>

                    <div class="step-content">
                      <h5 class="mb-1">
                        <a class="text-dark" href="#">New card styles added</a>
                      </h5>

                      <p class="font-size-sm mb-1">Added 5 card to <a href="#">Payments</a></p>

                      <ul class="list-group">
                        <!-- List Item -->
                        <li class="list-group-item list-group-item-light">
                          <div class="row gx-1">
                            <div class="col">
                              <img class="img-fluid rounded ie-card-img" src="@@autopath/assets/svg/illustrations/card-1.svg" alt="Image Description">
                            </div>
                            <div class="col">
                              <img class="img-fluid rounded ie-card-img" src="@@autopath/assets/svg/illustrations/card-2.svg" alt="Image Description">
                            </div>
                            <div class="col">
                              <img class="img-fluid rounded ie-card-img" src="@@autopath/assets/svg/illustrations/card-3.svg" alt="Image Description">
                            </div>
                            <div class="col">
                              <img class="img-fluid rounded ie-card-img" src="@@autopath/assets/svg/illustrations/card-4.svg" alt="Image Description">
                            </div>
                            <div class="col">
                              <img class="img-fluid rounded ie-card-img" src="@@autopath/assets/svg/illustrations/card-5.svg" alt="Image Description">
                            </div>
                            <div class="col-auto align-self-center">
                              <div class="text-center">
                                <a href="#">+2</a>
                              </div>
                            </div>
                          </div>
                        </li>
                        <!-- List Item -->
                      </ul>

                      <small class="text-muted text-uppercase">May 12</small>
                    </div>
                  </div>
                </li>
                <!-- End Step Item -->

                <!-- Step Item -->
                <li class="step-item">
                  <div class="step-content-wrapper">
                    <span class="step-icon step-icon-pseudo step-icon-soft-dark"></span>

                    <div class="step-content">
                      <h5 class="mb-1">
                        <a class="text-dark" href="#">Dean added a new team member</a>
                      </h5>

                      <p class="font-size-sm mb-1">Added a new member to Front Dashboard</p>

                      <small class="text-muted text-uppercase">May 15</small>
                    </div>
                  </div>
                </li>
                <!-- End Step Item -->

                <!-- Step Item -->
                <li class="step-item">
                  <div class="step-content-wrapper">
                    <span class="step-icon step-icon-pseudo step-icon-soft-dark"></span>

                    <div class="step-content">
                      <h5 class="mb-1">
                        <a class="text-dark" href="#">Project status updated</a>
                      </h5>

                      <p class="font-size-sm mb-1">Marked <a class="text-uppercase" href="#"><i class="tio-folder-bookmarked"></i> Fr-3</a> as <span class="badge badge-soft-primary badge-pill"><span class="legend-indicator bg-primary"></span>"In progress"</span></p>

                      <small class="text-muted text-uppercase">Apr 29</small>
                    </div>
                  </div>
                </li>
                <!-- End Step Item -->

                <!-- Step Item -->
                <li class="step-item">
                  <div class="step-content-wrapper">
                    <span class="step-icon step-icon-pseudo step-icon-soft-dark"></span>

                    <div class="step-content">
                      <h5 class="mb-1">
                        <a class="text-dark" href="#">Achievements</a>
                      </h5>

                      <p class="font-size-sm mb-1">Earned a "Top endorsed" <i class="tio-verified text-primary"></i> badge</p>

                      <small class="text-muted text-uppercase">Apr 06</small>
                    </div>
                  </div>
                </li>
                <!-- End Step Item -->

                <!-- Step Item -->
                <li id="collapseActivitySection" class="step-item collapse">
                  <div class="step-content-wrapper">
                    <span class="step-icon step-icon-pseudo step-icon-soft-dark"></span>

                    <div class="step-content">
                      <h5 class="mb-1">
                        <a class="text-dark" href="#">Project status updated</a>
                      </h5>

                      <p class="font-size-sm mb-1">Updated <a class="text-uppercase" href="#"><i class="tio-folder-bookmarked"></i> Fr-3</a> as <span class="badge badge-soft-secondary badge-pill"><span class="legend-indicator bg-secondary"></span>"To do"</span></p>

                      <small class="text-muted text-uppercase">Feb 10</small>
                    </div>
                  </div>
                </li>
                <!-- End Step Item -->
              </ul>
              <!-- End Step -->
            </div>
            <!-- End Body -->

            <!-- Footer -->
            <div class="card-footer">
              <a class="btn btn-sm btn-ghost-secondary" data-toggle="collapse" href="#collapseActivitySection" role="button" aria-expanded="false" aria-controls="collapseActivitySection">
                <span class="btn-toggle-default">
                  <i class="tio-chevron-down mr-1"></i> View more
                </span>
                <span class="btn-toggle-toggled">
                  <i class="tio-chevron-up mr-1"></i> View less
                </span>
              </a>
            </div>
            <!-- End Footer -->
          </div>
          <!-- End Card -->
        </div>
      </div>
    </div>
    <!-- End Content -->
  </main>
  <!-- ========== END CONTENTS ========== -->

  <!-- JS Global Compulsory @@deleteLine:build -->
  <script src="@@autopath/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="@@autopath/node_modules/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="@@autopath/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <!-- JS Implementing Plugins -->
  <!-- bundlejs:vendor [@@autopath] -->
  <script src="@@autopath/assets/vendor/hs-navbar-vertical-aside/hs-navbar-vertical-aside.min.js"></script>
  <script src="@@autopath/assets/vendor/hs-unfold/dist/hs-unfold.min.js"></script>
  <script src="@@autopath/assets/vendor/hs-form-search/dist/hs-form-search.min.js"></script>
  <script src="@@autopath/assets/vendor/hs-nav-scroller/dist/hs-nav-scroller.min.js"></script>
  <script src="@@autopath/node_modules/datatables/media/js/jquery.dataTables.min.js"></script>
  <script src="@@autopath/node_modules/daterangepicker/moment.min.js"></script>
  <script src="@@autopath/node_modules/daterangepicker/daterangepicker.js"></script>
  <script src="@@autopath/node_modules/select2/dist/js/select2.full.min.js"></script>

  <!-- JS Front -->
  <!-- bundlejs:theme [@@autopath] -->
  <script src="@@autopath/assets/js/hs.core.js"></script>
  <script src="@@autopath/assets/js/hs.daterangepicker.js"></script>
  <script src="@@autopath/assets/js/hs.datatables.js"></script>
  <script src="@@autopath/assets/js/hs.select2.js"></script>

  <script>
    $(document).on('ready', function () {
      $('.js-navbar-vertical-aside-toggle-invoker').click(function () {
        $('.js-navbar-vertical-aside-toggle-invoker i').tooltip('hide');
      });

      // initialization of navbar vertical navigation
      var sidebar = $('.js-navbar-vertical-aside').hsSideNav();

      // initialization of tooltip in navbar vertical menu
      $('.js-nav-tooltip-link').tooltip({ boundary: 'window' })

      $(".js-nav-tooltip-link").on("show.bs.tooltip", function(e) {
        if (!$("body").hasClass("navbar-vertical-aside-mini-mode")) {
          return false;
        }
      });

      // initialization of unfold
      $('.js-hs-unfold-invoker').each(function () {
        var unfold = new HSUnfold($(this)).init();
      });

      // initialization of Nav Scroller
      $('.js-nav-scroller').each(function () {
        new HsNavScroller($(this)).init()
      });

      // initialization of form search
      $('.js-form-search').each(function () {
        new HSFormSearch($(this)).init()
      });

      // initialization of select2
      $('.js-select2-custom').each(function () {
        var select2 = $.HSCore.components.HSSelect2.init($(this));
      });

      // initialization of datatables
      var datatable = $.HSCore.components.HSDatatables.init($('#datatable'), {
        "order": [],
        "info": {
          "totalQty": "#datatableEntriesInfoTotalQty"
        },
        "entries": "#datatableEntries",
        "isResponsive": false,
        "isShowPaging": false,
        "pagination": "datatableEntriesPagination"
      });

      $('.js-datatable-filter').on('change', function() {
        var $this = $(this),
          elVal = $this.val(),
          targetColumnIndex = $this.data('target-column-index');

        datatable.column(targetColumnIndex).search(elVal).draw();
      });

      $('#datatableSearch').on('mouseup', function (e) {
        var $input = $(this),
          oldValue = $input.val();

        if (oldValue == "") return;

        setTimeout(function(){
          var newValue = $input.val();

          if (newValue == ""){
            // Gotcha
            datatable.search('').draw();
          }
        }, 1);
      });

      // initialization of daterangepicker
      var startDate = null,
          endDate = null;

      $('.js-daterangepicker').each(function () {
        var d = $.HSCore.components.HSDaterangepicker.init($(this));
      });

      $('.js-daterangepicker').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('YYYY/MM/DD') + ' - ' + picker.endDate.format('YYYY/MM/DD'));

        startDate = moment(picker.startDate.format('YYYY/MM/DD'));
        endDate = moment(picker.endDate.format('YYYY/MM/DD'));

        datatable.draw();
      });

      $('.js-daterangepicker').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');

        startDate = null;
        endDate = null;

        datatable.draw();
      });

      $.fn.dataTable.ext.search.push(
        function (settings, data, dataIndex) {

          if (!startDate || !endDate) return true;

          let compareDate = moment(moment(data[6]).format('YYYY/MM/DD'));

          return compareDate.isBetween(startDate -1 , endDate + 1 );
        }
      );
    });
  </script>
</body>

</html>
